name: Run tests
on:
  push:
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-24.04
    env:
      MKVTOOLNIX_VERSION: "93.0"
      OPUS_VER: "opus-tools-0.2-libopus-1.5.2"
      FLAC_VER: "flac-1.5.0"
      FFMPEG_VER: "ffmpeg-2025-08-05"
    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10', '3.13']

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name: Fetch actions context
        uses: qoomon/actions--context@e25d529a56d21d2c5ce53b09f20173b454c76cf2 # v4.0.3
        id: context
      - name: Determine branch name
        id: branch-names
        run: echo "current_branch=${GITHUB_HEAD_REF:-${GITHUB_REF#refs/heads/}}" >> $GITHUB_OUTPUT
      - name: Setup uv
        uses: astral-sh/setup-uv@v6
      - name: Setup ffmpeg
        uses: AnimMouse/setup-ffmpeg@27e66fd2fe1d643b73a7c5cb105f3b4116bfb8db # v1.2.1
        with:
          version: 7.1
      - name: Cache MKVToolNix
        id: cache-mkvtoolnix
        uses: actions/cache@v4
        with:
          path: MKVToolNix_GUI-${{ env.MKVTOOLNIX_VERSION }}-x86_64.AppImage
          key: mkvtoolnix-${{ env.MKVTOOLNIX_VERSION }}-appimage
      - name: Download MKVToolNix
        if: steps.cache-mkvtoolnix.outputs.cache-hit != 'true'
        run: wget https://mkvtoolnix.download/appimage/MKVToolNix_GUI-${{ env.MKVTOOLNIX_VERSION }}-x86_64.AppImage
      - name: Setup MKVToolNix
        # Extract the appimage so we don't have to install libfuse and add included libs to ldconfig
        run: |
          chmod u+x "MKVToolNix_GUI-${{ env.MKVTOOLNIX_VERSION }}-x86_64.AppImage" && "./MKVToolNix_GUI-${{ env.MKVTOOLNIX_VERSION }}-x86_64.AppImage" --appimage-extract
          echo "$PWD/squashfs-root/usr/lib" | sudo tee /etc/ld.so.conf.d/mkvtoolnix.conf
          sudo ldconfig
          chmod u+x -R $PWD/squashfs-root/usr/bin
          sudo ln -sf "$PWD/squashfs-root/usr/bin/mkvmerge" "/usr/bin/mkvmerge"
          sudo ln -sf "$PWD/squashfs-root/usr/bin/mkvpropedit" "/usr/bin/mkvpropedit"
          sudo ln -sf "$PWD/squashfs-root/usr/bin/mkvinfo" "/usr/bin/mkvinfo"
          sudo ln -sf "$PWD/squashfs-root/usr/bin/mkvextract" "/usr/bin/mkvextract"
      - name: Check mkvmerge
        run: mkvmerge --version

      - name: Download other binaries
        run: |
          wget https://github.com/Vodes/muxtools-binaries/releases/download/${{ env.OPUS_VER }}/${{ env.OPUS_VER }}-linux-x86_64.zip && sudo unzip -o ${{ env.OPUS_VER }}-linux-x86_64.zip -d /usr/bin
          wget https://github.com/Vodes/muxtools-binaries/releases/download/${{ env.FLAC_VER }}/${{ env.FLAC_VER }}-linux-x86_64.zip && sudo unzip -o ${{ env.FLAC_VER }}-linux-x86_64.zip -d /usr/bin
          wget https://github.com/Vodes/muxtools-binaries/releases/download/${{ env.FFMPEG_VER }}/${{ env.FFMPEG_VER }}-linux-x86_64.zip && sudo unzip -o ${{ env.FFMPEG_VER }}-linux-x86_64.zip -d /usr/bin
          sudo chmod 777 -R /usr/bin # Don't do this
      - name: Check binaries
        run: |
          opusenc --version
          flac --version
          ffmpeg -version

      - name: Run tests (Python ${{ matrix.python-version }})
        run: uv run --python ${{ matrix.python-version }} pytest tests

      - name: Post webhook for failure
        if: failure()
        uses: tsickert/discord-webhook@b217a69502f52803de774ded2b1ab7c282e99645 # v7.0.0
        with:
          webhook-url: ${{ secrets.WEBHOOK_URL }}
          embed-url: ${{ steps.context.outputs.job_log_url }}
          embed-title: "[${{ github.event.repository.name }}] ${{ steps.context.outputs.job }} failed on ${{ steps.branch-names.outputs.current_branch }}"
          username: "GitHub - ${{ github.repository }}"
          avatar-url: https://github.githubassets.com/favicons/favicon.png
      